.git
.github
.idea
.vscode
.env
.env.*
!.env.example
.phpunit.result.cache
.rnd
.trunk
node_modules
vendor
bootstrap/cache/*
storage/api-docs
config/l5-swagger.php
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
docs/FRONTEND_API_REQUIREMENTS.md
tests
